<section class="document_stagiaires">

  <div class="navigation">
    <div class="nav">
      <mat-icon>arrow_back</mat-icon>
      <p (click)="onBackToHome()"> Page d'accueil </p>
    </div>

    <div class="nav">
      <p (click)="onGoToEdit()"> Ajouter un stagiaire </p>
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>

  <h3>Générer un document pour le stagiaire</h3>

  <mat-card>

    <form [formGroup]="verifForm" class="formulaire" (ngSubmit)="onSubmit()">


      <div class="input">
        <!-- Input code du stagiaire -->
        <mat-form-field appearance="outline">
          <mat-label>Code du stagiaire</mat-label>
          <input matInput formControlName="intern_code" [matAutocomplete]="auto" type="text" autocomplete>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let code of filteredCode | async" [value]="code">
              {{code}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>(Nom Prénom Nom de formation)</mat-hint>
        </mat-form-field>

      </div>


      <button mat-raised-button class="sendButton" type="submit" [disabled]="verifForm.invalid">Valider</button>

    </form>

  </mat-card>

  <div class="edit_doc" *ngIf="showMore">
    <span (click)="onGenerateAttestationAssiduite()"><mat-icon>play_arrow</mat-icon>
      <p> Éditer une attestation d’assisuité</p>
    </span>
    <span (click)="onGenerateCertificat()"><mat-icon>play_arrow</mat-icon>
      <p>Éditer un certificat de réalisation</p>
    </span>
    <span (click)="onGenerateConevention()"><mat-icon>play_arrow</mat-icon>
      <p>Éditer une convention de formation professionnelle</p>
    </span>
    <span (click)="onGenerateEmargement()"><mat-icon>play_arrow</mat-icon>
      <p>Éditer une feuille d’émargement individuelle</p>
    </span>
  </div>



</section>