<section class="programs">

  <div class="header">

    <div class="logo" (click)="onRedirectHome()">
      <img src="../../../assets/logos/alpix-logo-transparent.png" alt="Logo Alpix">
    </div>

    <!-- pour revenir en arrière -->
    <div class="back" (click)="onGoBack()">
      <mat-icon>keyboard_return</mat-icon>
      <p>Liste des programmes</p>
    </div>

  </div>


  <div *ngIf="showList">

    <h3>Mes programmes de formation</h3>

    <div class="list_programs" *ngIf="allList">

      <div class="one_card" *ngFor="let list of allList; let i = index">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{list}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button [routerLink]="['/programmes/programme_pdf']" routerLinkActive="active"
              class="btn_access" (click)="onOpenProgram(i)">OUVRIR</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>

  </div>

  <router-outlet></router-outlet>


</section>