<mat-sidenav-container class="overview" autosize>



    <div class="header">

        <div class="logo" (click)="onRedirectHome()">
            <img src="../../../assets/logos/alpix-logo-transparent.png" alt="Logo Alpix">
        </div>

        <div class="titre_appli">
            <p>Quickdocs</p>
        </div>

        <!-- Le bouton toggle pour afficher/masquer le menu-->
        <button type="button" mat-button (click)="left.toggle()" class="btn_menu">
            <mat-icon matSuffix class="icon-menu">menu</mat-icon>
        </button>

    </div>


    <!-- Menu à ouvrir et fermer -->
    <mat-sidenav #left class="menu" mode="over" position="start">
        <app-menu (closeMenu)="left.toggle()"></app-menu>
        <!-- closeMenu permet de fermer l'onglet quand on fera appel à (click)="closeMenu.emit()" sur les onglets dans MenuComponent -->
    </mat-sidenav>

    <!-- Message d'acceuil -->
    <div class="bienvenue" *ngIf="isHomeRoute()">
        <h3>Bienvenue sur ton application</h3>
        <p>Clique sur le menu pour commencer à éditer des documents</p>

        <h4> OU </h4>

        <div class="navigate">
            <span (click)="onGoToPdf()"><mat-icon>keyboard_arrow_right</mat-icon>
                <p> Aller sur la page des programmes </p>
            </span>
            <span (click)="onGoAddIntern()"><mat-icon>keyboard_arrow_right</mat-icon>
                <p> Ajouter un(e) stagiaire </p>
            </span>
            <span (click)="onGoEditDoc()"> <mat-icon>keyboard_arrow_right</mat-icon>
                <p> Éditer des documents administratifs </p>
            </span>
        </div>
    </div>



    <!-- Le contenu en router-outlet -->
    <div class="router">
        <router-outlet></router-outlet>
    </div>




</mat-sidenav-container>