<section class="ajouter_stagiaire">

  <h3>Ajouter un stagiaire</h3>


  <mat-card>

    <form [formGroup]="internForm" (ngSubmit)="onSubmit(interns)" class="formulaire">

      <div class="input">
        <!-- Input code -->
        <mat-form-field appearance="outline">
          <mat-label>Code du stagiaire</mat-label>
          <input matInput formControlName="intern_code" type="text" minlength="2" autocomplete>
          <mat-hint>(Nom Prénom Nom de formation)</mat-hint>
        </mat-form-field>

        <!-- Input genre -->
        <mat-form-field appearance="outline">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="intern_genre" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input nom -->
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="intern_lastname" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input prénom -->
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="intern_firstname" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input adresse -->
        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="intern_adress" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input code postal -->
        <mat-form-field appearance="outline">
          <mat-label>Code postal</mat-label>
          <input matInput formControlName="intern_zipcode" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input ville -->
        <mat-form-field appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput formControlName="intern_city" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input nom de formation / matAutoComplete -->
        <mat-form-field appearance="outline">
          <mat-label>Nom de la formation suivie</mat-label>
          <input matInput formControlName="intern_program" [matAutocomplete]="auto" type="text" minlength="2"
            autocomplete>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let title of filteredTitles | async" [value]="title">
              {{title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Input durée de la formation -->
        <mat-form-field appearance="outline">
          <mat-label>Durée de la formation</mat-label>
          <input matInput formControlName="program_duration" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input format des journée de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Format de la formation (journée)</mat-label>
          <input matInput formControlName="module_format" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input date de début -->
        <mat-form-field appearance="outline">
          <mat-label>Début de la formation</mat-label>
          <input matInput formControlName="intern_firstdate" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input date de fin -->
        <mat-form-field appearance="outline">
          <mat-label>Fin de la formation</mat-label>
          <input matInput formControlName="intern_lastdate" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input de la durée suivie par le satgiaire -->
        <mat-form-field appearance="outline">
          <mat-label>Durée suivie</mat-label>
          <input matInput formControlName="intern_duration" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input du taux de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Taux de réalisation</mat-label>
          <input matInput formControlName="intern_achievement" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input financeur -->
        <mat-form-field appearance="outline">
          <mat-label>Financeur</mat-label>
          <input matInput formControlName="intern_finance" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input numero convention -->
        <mat-form-field appearance="outline">
          <mat-label>Numéro de convention</mat-label>
          <input matInput formControlName="number_convention" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input nombre de modules -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre de modules</mat-label>
          <input matInput formControlName="module_number" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input format de la formation -->
        <mat-form-field appearance="outline">
          <mat-label>Format (individuelle/collectif)</mat-label>
          <input matInput formControlName="program_format" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input nombre de stagiaires -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre d'apprenants</mat-label>
          <input matInput formControlName="number_intern" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input frais de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Frais de formation HT</mat-label>
          <input matInput formControlName="training_cost" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input frais de dossier pédagogique -->
        <mat-form-field appearance="outline">
          <mat-label>Frais de dossier pédagogique HT</mat-label>
          <input matInput formControlName="learning_cost" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input cout total -->
        <mat-form-field appearance="outline">
          <mat-label>Cout total de la formation HT</mat-label>
          <input matInput formControlName="total_cost" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input accompte -->
        <mat-form-field appearance="outline">
          <mat-label>Accompte</mat-label>
          <input matInput formControlName="deposit" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input date de la convention -->
        <mat-form-field appearance="outline">
          <mat-label>Date de la convention</mat-label>
          <input matInput formControlName="convention_date" type="text" minlength="2" autocomplete>
        </mat-form-field>

        <!-- Input premier jour de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Date du premier jour de la formation</mat-label>
          <input matInput formControlName="first_training_date" type="text" minlength="2" autocomplete>
        </mat-form-field>

      </div>


      <button mat-raised-button class="sendButton" type="submit" [disabled]="internForm.invalid">Valider</button>

    </form>

  </mat-card>




</section>