<section class="ajouter_stagiaire">

  <div class="navigation">
    <div class="nav">
      <mat-icon>arrow_back</mat-icon>
      <p (click)="onBackToHome()"> Page d'accueil</p>
    </div>

    <div class="nav">
      <p (click)="onGoToEdit()"> Editer les documents</p>
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>

  <h3>Ajouter un stagiaire</h3>

  <mat-card>

    <form [formGroup]="internForm" (ngSubmit)="onSubmit(interns)" class="formulaire">

      <div class="input">
        <!-- Input code -->
        <mat-form-field appearance="outline">
          <mat-label>Code du stagiaire</mat-label>
          <input matInput formControlName="intern_code" type="text">
          <mat-hint>(Nom Prénom Nom de formation)</mat-hint>
        </mat-form-field>

        <!-- Input genre -->
        <mat-form-field appearance="outline">
          <mat-label>Genre</mat-label>
          <input matInput formControlName="intern_genre" type="text">
        </mat-form-field>

        <!-- Input nom -->
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="intern_lastname" type="text">
        </mat-form-field>

        <!-- Input prénom -->
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="intern_firstname" type="text">
        </mat-form-field>

        <!-- Input adresse -->
        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="intern_adress" type="text">
        </mat-form-field>

        <!-- Input code postal -->
        <mat-form-field appearance="outline">
          <mat-label>Code postal</mat-label>
          <input matInput formControlName="intern_zipcode" type="text">
        </mat-form-field>

        <!-- Input ville -->
        <mat-form-field appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput formControlName="intern_city" type="text">
        </mat-form-field>

        <!-- Input nom de formation / matAutoComplete -->
        <mat-form-field appearance="outline">
          <mat-label>Nom de la formation suivie</mat-label>
          <input matInput formControlName="intern_program" [matAutocomplete]="auto" type="text">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let title of filteredTitles | async" [value]="title">
              {{title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Input durée de la formation -->
        <mat-form-field appearance="outline">
          <mat-label>Durée de la formation</mat-label>
          <input matInput formControlName="program_duration" type="text">
        </mat-form-field>

        <!-- Input format des journée de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Format de la formation (journée)</mat-label>
          <input matInput formControlName="module_format" type="text">
        </mat-form-field>

        <!-- Input date de début -->
        <mat-form-field appearance="outline">
          <mat-label>Début de la formation</mat-label>
          <input matInput formControlName="intern_firstdate" [matDatepicker]="pickerOne" (dateChange)="changeFormatdate()">
          <mat-datepicker-toggle matSuffix [for]="pickerOne"></mat-datepicker-toggle>
          <mat-datepicker #pickerOne></mat-datepicker>
        </mat-form-field>


        <!-- Input date de fin -->
        <mat-form-field appearance="outline">
          <mat-label>Fin de la formation</mat-label>
          <input matInput formControlName="intern_lastdate" [matDatepicker]="pickerTwo" (dateChange)="changeFormatdate()">
          <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTwo></mat-datepicker>
        </mat-form-field>

        <!-- Input de la durée suivie par le satgiaire -->
        <mat-form-field appearance="outline">
          <mat-label>Durée suivie</mat-label>
          <input matInput formControlName="intern_duration" type="text">
        </mat-form-field>

        <!-- Input du taux de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Taux de réalisation</mat-label>
          <input matInput formControlName="intern_achievement" type="text">
        </mat-form-field>

        <!-- Input financeur -->
        <mat-form-field appearance="outline">
          <mat-label>Financeur</mat-label>
          <input matInput formControlName="intern_finance" type="text">
        </mat-form-field>

        <!-- Input numero convention -->
        <mat-form-field appearance="outline">
          <mat-label>Numéro de convention</mat-label>
          <input matInput formControlName="number_convention" type="text">
        </mat-form-field>

        <!-- Input nombre de modules -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre de modules</mat-label>
          <input matInput formControlName="module_number" type="text">
        </mat-form-field>

        <!-- Input format de la formation -->
        <mat-form-field appearance="outline">
          <mat-label>Format</mat-label>
          <mat-select formControlName="program_format">
            <mat-option value="individuelle">individuelle</mat-option>
            <mat-option value="collective">collective</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Input nombre de stagiaires -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre d'apprenants</mat-label>
          <input matInput formControlName="number_intern" type="text">
        </mat-form-field>

        <!-- Input frais de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Frais de formation HT</mat-label>
          <input matInput formControlName="training_cost" type="text">
        </mat-form-field>

        <!-- Input frais de dossier pédagogique -->
        <mat-form-field appearance="outline">
          <mat-label>Frais de dossier pédagogique HT</mat-label>
          <input matInput formControlName="learning_cost" type="text">
        </mat-form-field>

        <!-- Input cout total -->
        <mat-form-field appearance="outline">
          <mat-label>Cout total de la formation HT</mat-label>
          <input matInput formControlName="total_cost" type="text">
        </mat-form-field>

        <!-- Input acompte -->
        <mat-form-field appearance="outline">
          <mat-label>Acompte</mat-label>
          <input matInput formControlName="deposit" type="text">
        </mat-form-field>

        <!-- Input date de la convention -->
        <mat-form-field appearance="outline">
          <mat-label>Date de la convention</mat-label>
          <input matInput formControlName="convention_date" [matDatepicker]="pickerThree" (dateChange)="changeFormatdate()">
          <mat-datepicker-toggle matSuffix [for]="pickerThree"></mat-datepicker-toggle>
          <mat-datepicker #pickerThree></mat-datepicker>
        </mat-form-field>

        <!-- Input premier jour de formation -->
        <mat-form-field appearance="outline">
          <mat-label>Premier jour de la formation</mat-label>
          <input matInput formControlName="first_training_date" [matDatepicker]="picker4" (dateChange)="changeFormatdate()">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>

      </div>


      <button mat-raised-button class="sendButton" type="submit" [disabled]="internForm.invalid">Valider</button>

    </form>

  </mat-card>




</section>